@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Users";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">System Users</h2>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-header">
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td>
                            <a asp-controller="Roles" asp-action="AddRoles" asp-route-userId="@item.Id" class="btn btn-success btn-sm shadow-sm">
                                <i class="bi bi-pencil"></i> Assign Roles
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0 0.5rem;
    }

        .table thead th {
            border: none;
        }

        .table tbody tr {
            background: white;
            transition: transform 0.2s ease-in-out;
        }

            .table tbody tr:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

    .table-header {
        background: linear-gradient(135deg, #1d2b64, #f8cdda);
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
    }

        .table-header th {
            padding: 15px;
            border: none;
            border-radius: 5px;
        }

    .btn {
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
    }
</style>
