@{
    Layout = "~/Views/Shared/_layoutProd.cshtml";
}
  <div class="error-page content-light jarallax d-flex align-items-center text-white" style="height: 100vh;">
    <img src="images/coming-soon-image.jpg" alt="coming-soon" class="jarallax-img">
    <div class="container">
      <div class="text-center">
        <h1>Coming Soon</h1>
        <div id="time-counter"></div>
        <div class="btn-center">
          <a href="index.html" class="btn btn-light btn-large text-uppercase">Go back to home</a>
        </div>
      </div>
    </div>
  </div>
