@{
    Layout = "~/Views/Shared/_layoutProd.cshtml";
}
  <div class="error-page content-light jarallax d-flex align-items-center" style="height: 100vh;">
    <img src="images/error-image.jpg" alt="error-page" class="jarallax-img">
    <div class="container">
      <div class="page-content text-center text-white">
        <h1>Error 404</h1>
        <p>Sorry, the page that you’re looking for doesn’t exist.</p>
        <a href="index.html" class="btn btn-light btn-large text-uppercase mt-3">Go back to home</a>
      </div>
    </div>
  </div>
