@{
    Layout = "~/Views/Shared/_layoutProd.cshtml";
}
  <section class="py-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mt-5">
        <h1 class="page-title display-4">Wishlist</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Wishlist</span>
        </nav>
      </div>
    </div>
  </section>

  <section id="Wishlist" class="py-5 mb-5">
    <div class="container">
      <div class="row text-dark my-3">
        <div class="col-5 text-uppercase">Product</div>
        <div class="col-2 text-uppercase">Unit Price</div>
        <div class="col-2 text-uppercase">Stock Status</div>
      </div>
      <div class="product-wrapper">
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="images/wishlist-item1.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">high coverage conceler</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$54.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="images/wishlist-item2.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">lip scrub</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$94.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="product-item row align-items-center mb-4">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset="images/wishlist-item3.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title text-uppercase fs-5">
              <a href="#">coffee soap</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$54.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
